// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

nav {
    background: #360033; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #0b8793,
        #360033
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #0b8793,
        #360033
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    .row {
        .col {
            .card {
                box-shadow: 2px 3px 4px rgb(191, 191, 195);
                margin-top: 1.5rem;
            }
            .card:hover {
                box-shadow: 2px 3px 4px rgb(139, 139, 173);
                transform: scale(1);
                cursor: pointer;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }
            .myProfile {
                display: grid;
                grid-template-columns: 20% 70%;
                align-items: center;
                align-content: center;
                justify-content: center;
                img {
                    width: 200px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
        }
    }

    footer {
        background-color: rgb(243, 227, 227);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .myProfile {
        display: grid;
        grid-template-columns: 1fr;
    }
}
